@keyframes toTopAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}

.toTop {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 10;
  color: var(--bg-inverse);
  font-size: 30px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.2s ease;
  animation: toTopAnim 1.5s ease-in-out infinite alternate;
}

.toTop:hover {
  font-size: 40px;
  animation-play-state: paused;
}
